.SYText {
	width: 4em !important;
	float: left;
	text-align: center !important;
	border-radius: 0.5em;
}
.SYText:hover {
	background: #eee;
	color: black;
}
.SYText.SYTactive {
	text-decoration: underline;
}

::-webkit-scrollbar{
	border: none !important;
	background-color: #fff !important;
	width: 8px !important;
	height: 8px !important;
}
::-webkit-scrollbar-thumb{
	background-color: #BFBFBF !important;
	border: 1px solid #BABABA !important;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #A3A3A3 !important;
	box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
	border: none !important;
}
#cropComp{
    background-color: black;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}
#cropengine {
    border: 1px dashed rgba(255,255,255,0.2);
    margin: auto;
  min-height:250px;
    min-width:200px;
}
#cropComp>h1 {
    color: white;
    text-align: center;
}
#cropComp>p {
   font-family: monospace;
   text-align: center;
   color: rgba(255,255,255,0.3);
}
